av==8.0.3
tqdm==4.61.1
pims==0.5
facenet_pytorch
scikit-image
pyjwt
flask
firebase_admin
opencv-python
PyPubSub
shapely
einops
googletrans==4.0.0rc1
kornia
pyclipper
networkx
torchsummary
transformers==4.9.2 
soundfile 
datasets==1.11.0 
pyctcdecode==v0.1.0